body{
  padding-top:56px;
  background-color: #FBFBFB;
}

#formss{
  box-shadow: 2px 2px 9px #666;
}

.tablep{

background-color: white;

}

.uncontaier{

     position: relative;
}


#text {
     z-index: 100;
     position: absolute;
     color: white;
     left: 150px;
}
.text1{
     font-weight: bold;
     font-size: 34px;
     top: 250px;
}

.text2{
     font-size: 24px;
     top:320px;
     width: 80%;
}

.text3{
     margin: 0 0 0 0;
     color: white;
}

.text4{
     font-size:18PX;
}

.card{
  height: 300px;
}

html {
  min-height: 100%;
  position: relative;
}
